

<!-- <section id="home" class="text-center">
         
                <div id="carousel-example" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="item active">

                            <img src="view/img/1.jpg" alt="" />
                            <div class="carousel-caption" >
                                <h4 class="back-light">Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.</h4>
                            </div>
                        </div>
                        <div class="item">
                            <img src="view/img/2.jpg" alt="" />
                            <div class="carousel-caption ">
                                <h4 class="back-light">Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.</h4>
                            </div>
                        </div>
                        <div class="item">
                            <img src="view/img/3.jpg" alt="" />
                            <div class="carousel-caption ">
                                <h4 class="back-light">Aenean faucibus luctus enim. Duis quis sem risu suspend lacinia elementum nunc.</h4>
                            </div>
                        </div>
                                               
                    </div>

                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example" data-slide-to="1"></li>
                        <li data-target="#carousel-example" data-slide-to="2"></li>
                    </ol>
                </div>
           
</section> -->
            <!-- CARRUSEL TIPO -->
           
            <br></br>
            <br></br>
            <br></br>
                <div class="carousel">
                    <div class="carousel__container">
                        <button class="carousel__prev"><i class='bx bx-chevron-left'></i></button>
                        <div class="carousel__list" style="text-align: center;"></div>
                        <button class="carousel__next"><i class='bx bx-chevron-right'></i></button>
                    </div>
                    <div class="carousel__indicator"></div>
                </div>