#autocom{
  margin: 10px;
  border-radius: 5px;
  
}
.leaflet-pane img{
  width: 300px;
  height: auto;
  margin: 15px;
  border-radius: 5%;
}

/* CSS FILTROS */


.ultima_busqueda {
  background-color: #91a320; /* Color de fondo */
  
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
  margin: 20px;
}

.radio_container {
  display: inline-block;
  margin-right: 18px;
  font-size: 16px;
      font-weight: 400;
      height: 100%;
      line-height: 28px;
      vertical-align: baseline;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-rendering: optimizeLegibility;
      color: #646464;
      transition: all 0.5s ease 0s;

}
input[type='radio'],
    label {
      vertical-align: baseline;
      padding: 5px;
      
    }






.filters_container {
  margin-left: 20px;
  /* position: fixed;
  z-index: 5; */
  margin-right: 50px;
  margin-bottom: 20px; 
  padding: 10px; 
  border: 1px solid #ccc; 
  border-radius: 8px; 
  background-color: #f9f9f9; 
  -webkit-box-shadow: 0px 0px 26px -8px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 26px -8px rgba(0,0,0,1);
  box-shadow: 0px 0px 26px -8px rgba(0,0,0,1);
}

/* Estilos para los selects de filtro */
.filters_container select {
  margin-right: 10px; 
  padding: 8px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
}


.filters_shop {
  width: 100%; 
  margin: 20px;
}

.div-filters {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

.select {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  margin-right: 10px;
}


.filter_button {
  
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 20px;
  margin: 20px;
}

.filter_button:hover {
  background-color: #45a049;
}

.filter_remove {
  background-color: #f44336;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 50px;
}

.filter_remove:hover {
  background-color: #db4436;
}


#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
  display: none;
}

.cv-spinner {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 40px;
  height: 40px;
  background-color: #333;
  border-radius: 100%;
  position: relative;
  animation: sk-scaleout 1.0s infinite ease-in-out;
}

@keyframes sk-scaleout {
  0% { transform: scale(0) }
  100% {
      opacity: 0;
      transform: scale(1.0);
  }
}


/* .filter_button,
.filter_remove {
    padding: 10px 20px;
    margin-top: 10px;
    
    margin: 40px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50; 
    color: white; 
    font-size: 16px; 
    cursor: pointer;
    transition: background-color 0.3s; 
}


.filter_button:hover,
.filter_remove:hover {
    background-color: #45a049; 
} */

@import url('https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700');


.fa-heart:before {
  content: none;
}
:root {
  --color: #3c3163;
  --transition-time: 0.5s;
}

* {
  box-sizing: border-box;
}

/* body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Open Sans';
  background: #fafafa;
} */
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
  border-color: #101010;

}
/* .navbar {
  padding: 15px;
  -webkit-transition: background .8s ease-out,padding .8s ease-out;
  -moz-transition: background .8s ease-out,padding .8s ease-out;
  transition: background .8s ease-out,padding .8s ease-out;
} */

#footer-sec {
  background-color: #000;
  color: #808080;
}

a {
  color: inherit;
}

.container_shop {
  display:inline-block;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
  /* margin-left: 150px; */
}

.list_content_shop {
  font-family: 'Heebo';
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  box-sizing: border-box;
  margin: 80px;
  width: 130%;
}

.list_content_shop:hover {
  transform: scale(1.03);
  transition: 0.8s;
  -webkit-box-shadow: -8px 10px 5px -3px rgba(0,0,0,0.5);
  -moz-box-shadow: -8px 10px 5px -3px rgba(0,0,0,0.5);
  box-shadow: -8px 10px 5px -3px rgba(0,0,0,0.5);
}

.list_product {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.img-container img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #ccc;
}

.product-info {
  flex-grow: 1;
  padding: 15px;
}

.product-content h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}

.product-content p {
  font-size: 0.75em;
  font-family: 'Open Sans';
  margin-top: 0.5em;
  line-height: 1.5em;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  background-color: var(--color);
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.more_info_list {
  margin-right: 10px;
}

.buy {
  background-color: #4caf50;
}

#price {
  font-weight: bold;
}


/* CSS MAPS */



.container_viv {
  display: flex;
  flex-grow: 1;
}
.container_shop {
  
  flex-grow: 1;
  padding: 20px;
}
#map {
 
  width: 600px;
    height: auto;
    position: fixed;
    right: 95px;
    top: 250px;
    bottom: 40px;
    /* z-index: -1; */
    background-color: white;
    border-radius: 5%;
}





/* CSS DETAILS */
#details-shop {
  /* display: flex; */
  justify-content: space-between;
  padding: 20px;
}

.date_img, .date_vivienda {
  width: 48%; /* Ajusta el ancho según sea necesario */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content-img-details {
  padding: 15px;
  margin-left: 100px;
}

.content-img-details img {
  width: 500px;
  height: auto;
  border-radius: 5px;
  
 
}

.list_product_details {
  display: flex;
  height: 100%;
}

.product-info_details {
  flex-grow: 1;
  padding: 15px;
}

.product-content_details {
  line-height: 1.5em;
}

#table-shop {
  width: 100%;
}

#table-shop td {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.hr-shop {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px 0;
}

.buttons_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button.add, .button.buy, #price_details {
  margin-right: 10px;
}

.details__heart {
  color: var(--color);
  text-decoration: none;
}

