<html>

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta name="description" content="" />
        <meta name="author" content="" />
    </head>
    <body>



        
        <div class="navbar navbar-inverse navbar-fixed-top" id="menu">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">SWEET HOME </a>
                </div>
                
                    
                <div class="div_search" style="display: inline; width: 5%; height: 5%;">
                    <select class="search_operacion"></select>
                    <select class="search_innovacion"></select>
                    <input type="text" id="autocom" autocomplete="off" placeholder="Ciudad" style="width: 10%;" />
                    <div id="search_viv"></div>
                    <input type="button" value="search" id="search-btn" class="btna third" style="display: inline;" />
                </div>



                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="index.php?page=ctrl_home&op=list">HOME</a></li>
                        <li><a href="index.php?page=ctrl_shop&op=list">SHOP</a></li>
                        <li><a href="index.php?page=ctrl_login&op=login-register_view">LOGIN/REGISTER</a></li>
                        <!-- <li><a href="index.php?page=controller_vivienda&op=list">CRUD VIVIENDAS</a></li>
                        <li><a href="index.php?page=services">SERVICES</a></li>
                        <li><a href="portfolio.html">PORTFOLIO</a></li>
                        <li><a href="pricing.html">PRICING</a></li>
                        <li><a href="index.php?page=contactus">CONTACT</a></li> -->
                    </ul>
                </div>
                
            </div>
            
           
       </section>
        </div>
    </body>
</html>